<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aktivnosti.RentActivity"></activity>
        <activity android:name=".aktivnosti.AboutAppActivity" />
        <activity android:name=".aktivnosti.SettingsActivity" />
        <activity android:name=".aktivnosti.LogInActivity" />
        <activity android:name=".aktivnosti.RegistrationActivity" />
        <activity android:name=".aktivnosti.DetailViewActivity" />
        <activity android:name=".aktivnosti.MasterViewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>